.header-nav{
    background-color: #1ABC9C;
}

.page{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  .nut-navbar > *{
      color: #fff
  }